<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{imports.html :: headImports}">
    <title>User Page</title>
</head>
<body>
<div class="user-header">
        <h2 class="welcome-message">
            <span th:if="${email}" th:text="${email}"></span>
            <i class="fa-solid fa-key" style="color: yellow; cursor: pointer;" id="send-pass-to-email"></i>
            <span th:unless="${email}">User</span>
        </h2>

        <a th:href="@{/logout}"
           tabindex="5"
           class="btn"
           style="width: 100px; height: 10px; background-color: red; border-color: lightcoral;"
        >
            <span>Exit <i class="fa-solid fa-right-from-bracket"></i></span>
        </a>
</div>
<div class="trainer-container">
    <section class="trainer-section" id="vocabulary">
        <div class="trainer-section-header">
            <h3>Vocabulary</h3>

            <div>
                <i class="fa-solid fa-rotate dn mr10"></i>
                <i class="fas fa-chevron-up dn"></i>
                <i class="fas fa-chevron-down"></i>
            </div>
        </div>
        <div id="vocabulary-content" class="trainer-section-content dn">

        </div>
    </section>
    <section class="trainer-section" id="grammar">
        <div class="trainer-section-header">
            <h3>Grammar</h3>
            <div>
                <i class="fa-solid fa-rotate dn mr10"></i>
                <i class="fas fa-chevron-up dn"></i>
                <i class="fas fa-chevron-down"></i>
            </div>
        </div>
        <div id="grammar-content" class="trainer-section-content dn" >

        </div>
    </section>
    <section class="trainer-section" id="listening">
        <div class="trainer-section-header">
            <h3>Listening</h3>
            <div>
                <i class="fa-solid fa-rotate dn mr10"></i>
                <i class="fas fa-chevron-up dn"></i>
                <i class="fas fa-chevron-down"></i>
            </div>
        </div>
        <div id="listening-content" class="trainer-section-content dn">

        </div>
    </section>
    <section class="trainer-section" id="writing">
        <div class="trainer-section-header">
            <h3>Writing</h3>
            <div>
                <i class="fa-solid fa-rotate dn mr10"></i>
                <i class="fas fa-chevron-up dn"></i>
                <i class="fas fa-chevron-down"></i>
            </div>
        </div>
        <div id="writing-content" class="trainer-section-content dn">

        </div>
    </section>
    <section class="trainer-section" id="speaking">
        <div class="trainer-section-header">
            <h3>Speaking</h3>

            <div>
                <i class="fa-solid fa-rotate dn mr10"></i>
                <i class="fas fa-chevron-up dn"></i>
                <i class="fas fa-chevron-down"></i>
            </div>
        </div>
        <div class="trainer-section-content dn">

        </div>
    </section>
    <section class="trainer-section" id="mistakes">
        <div class="trainer-section-header">
            <h3>Mistakes</h3>

            <div>
                <i class="fa-solid fa-rotate dn mr10"></i>
                <i class="fas fa-chevron-up dn"></i>
                <i class="fas fa-chevron-down"></i>
            </div>
        </div>
        <div class="trainer-section-content dn">

        </div>
    </section>
</div>


<script type="module">
    import { sectionAccordionListener } from './js/script.js';

    sectionAccordionListener(event);



</script>

</body>
</html>


<!--        <div>-->
<!--            <input type="text" placeholder="Word">-->
<!--            <input type="text" placeholder="Explanation">-->
<!--            <a href="chatGPT">Check word with explanation provide additional context</a>-->
<!--            <button>Add</button>-->
<!--            <table>-->
<!--                <tr>-->
<!--                    <th>Word</th>-->
<!--                    <th>Explanation</th>-->
<!--                    <th>remove</th>-->
<!--                    <th>train</th>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>bicicle</td>-->
<!--                    <td>two whelled leg ridden vehicle</td>-->
<!--                    <td><button>Remove</button></td>-->
<!--                    <td><button>Train</button></td>-->
<!--                </tr>-->
<!--            </table>-->
<!--            <div class="modal">-->
<!--                <input type="checkbox"> proMode-->
<!--                <span>time :</span>-->
<!--                <span>WPM :</span>-->
<!--                <span>accuracy actual:</span>-->
<!--                <span>accuracy real:</span>-->
<!--                <div>-->
<!--                    Here logic must be implemented to show the modal when I click train button inside modal will be shown
dimmed words when I click correct dimmed letter highlighted in green else in red, I can press backspace to remove last letter
when letter corrected it's highlighte in yellow so this affects accuracy calculation. when pro mode is on if I make a mistake I will
 start this phrase again with 0 time counter. WHen I hit first letter time starts to count WPM and accurary calculated real time -->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
