<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{imports.html :: headImports}">
    <title>LingoPilot</title>
</head>
<body>
<div class="center-div">
    <h2>LingoPilot</h2>
    <div th:if="${param.error}" class="a ad" role="alert">
        Invalid e-mail or password. Please try again.
    </div>
    <form th:action="@{/login}" method="post">
        <div class="input-div">
            <label for="username">E-mail:</label>
            <input
                    type="text"
                    id="username"
                    name="username"
                    class="input-actionable"
                    autocomplete="username"
                    tabindex="1"
                    required
            />
        </div>
        <div class="input-div">
            <label for="password">Password:</label>
            <input
                    type="password"
                    id="password"
                    name="password"
                    class="input-actionable"
                    autocomplete="current-password"
                    tabindex="2"
                    required
            />
        </div>
        <div>
            <a href="javascript:void(0)"
               tabindex="3"
               onclick="document.querySelector('form').submit();"
               class="btn mt10"
            >
                <span>Log In <i class="fas fa-sign-in-alt"></i></span>
            </a>
        </div>
    </form>
    <a th:href="@{/oauth2/authorization/google}"
       tabindex="4"
       class="btn mt10"
       style="background-color: blue; border-color: lightblue;"
    >
        <span>Log In <i class="fab fa-google"></i></span>
    </a>
    <a th:href="@{/signup}"
       tabindex="5"
       class="btn mt10"
       style="background-color: orange; border-color: lightgoldenrodyellow;"
    >
        <span>Sign Up <i class="fas fa-user-plus"></i></span>
    </a>
</div>

<script type="module">
    import { handleTabNavigation } from './js/script.js';

    handleTabNavigation(5);
</script>

</body>
</html>