<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{imports.html :: headImports}">
    <title>Login</title>
</head>
<body class="form-container">
<div class="form-container__card">
    <h2 class="form-container__title">Login Page</h2>
    <form th:action="@{/login}" method="post" class="form-container__form">
        <div class="form-container__input-group">
            <label for="username" class="form-container__label">Username (Email):</label>
            <input type="text" id="username" name="username" class="form-container__input"
                   placeholder="Enter your email" autocomplete="username" required>
        </div>
        <div class="form-container__input-group">
            <label for="password" class="form-container__label">Password:</label>
            <input type="password" id="password" name="password" class="form-container__input"
                   placeholder="Enter your password" autocomplete="current-password" required>
        </div>
        <button type="submit" class="form-container__button">Log In</button>
    </form>
    <div class="text-center">
        <a th:href="@{/oauth2/authorization/google}" class="form-container__button" style="background-color: #db4437;">
            <i class="bi bi-google"></i> Login with Google
        </a>
    </div>
    <div class="form-container__link">
        <a th:href="@{/signup}">Don't have an account? Sign Up</a>
    </div>
</div>
</body>
</html>