<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{imports.html :: headImports}">
    <title>LingoPilot</title>
</head>
<body>
<div>
    <h2>LingoPilot</h2>
    <form th:action="@{/login}" method="post">
        <div>
            <input
                    type="text"
                    id="username"
                    name="username"
                    autocomplete="username"
                    tabindex="1"
                    required
            />
            <label for="username">E-mail:</label>
        </div>
        <div>
            <input
                    type="password"
                    id="password"
                    name="password"
                    autocomplete="current-password"
                    tabindex="2"
                    required
            />
            <label for="password">Password:</label>
        </div>
        <div>
            <a href="javascript:void(0)"
               tabindex="3"
               onclick="document.querySelector('form').submit();">
                <span>Log In</span>
            </a>
        </div>
    </form>
    <a th:href="@{/oauth2/authorization/google}" tabindex="4">
        <span>Log in with Google+</span>
    </a>
    <a th:href="@{/signup}" tabindex="5">
        <span>Sign Up</span>
    </a>
</div>

<script type="module">
    import { handleTabNavigation } from '../static/js/script';
    handleTabNavigation(5);
</script>

</body>
</html>