<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{imports.html :: headImports}">
    <title>Sign Up</title>
</head>
<body>
<div class="center-div">
    <h2>Sign Up to LingoPilot</h2>
    <div th:if="${errorMessage}" class="a ad" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>
    <form th:action="@{/signup}" method="post">
        <div class="input-div">
            <label for="email">Email:</label>
            <input
                    type="text"
                    id="email"
                    name="email"
                    class="input-actionable"
                    placeholder="Enter your email"
                    th:value="${email}"
                    th:readonly="${email != null}"
                    tabindex="1"
                    required
            >
        </div>
        <div class="input-div">
            <label for="password">Password:</label>
            <input
                    type="password"
                    id="password"
                    name="password"
                    class="input-actionable"
                    placeholder="Enter your password"
                    tabindex="2"
                    required
            >
        </div>
        <div class="input-div">
            <label for="confirmPassword">Confirm Password:</label>
            <input
                    type="password"
                    id="confirmPassword"
                    name="confirmPassword"
                    class="input-actionable"
                    placeholder="Confirm your password"
                    tabindex="3"
                    required
            >
        </div>
        <a href="javascript:void(0)"
           tabindex="4"
           onclick="document.querySelector('form').submit();"
           class="wave-btn mt10"
        >
            <span class="wave-btn-text">Buy <i class="fas fa-user-plus"></i></span>
            <span class="wave-btn-waves" style="background-color: red;"></span>
        </a>
    </form>
    <div>
        <a href="/login"
           tabindex="5"
           class="btn mt10"
        >
            <span>Return <i class="fas fa-sign-in-alt"></i></span>
        </a>
    </div>
</div>

<script type="module">
    import { handleTabNavigation } from './js/script.js';

    handleTabNavigation(5);
</script>

</body>
</html>