<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{imports.html :: headImports}">
    <title>User Page</title>
</head>
<body>
<div>
    <h2>
        Welcome,
        <span th:if="${email}" th:text="${email}">User</span>
        <span th:unless="${email}">User</span>!
    </h2>    <a th:href="@{/logout}">Logout</a>
</div>
<div>
    <section id="vocabulary">
        <h3>Vocabulary</h3>

        <div>
            <input type="text" placeholder="Word">
            <input type="text" placeholder="Explanation">
            <a href="chatGPT">Check word with explanation provide additional context</a>
            <button>Add</button>

            <table>
                <tr>
                    <th>Word</th>
                    <th>Explanation</th>
                    <th>remove</th>
                    <th>train</th>
                </tr>
                <tr>
                    <td>bicicle</td>
                    <td>two whelled leg ridden vehicle</td>
                    <td><button>Remove</button></td>
                    <td><button>Train</button></td>
                </tr>
            </table>

            <div class="modal">
                <input type="checkbox"> proMode
                <span>time :</span>
                <span>WPM :</span>
                <span>accuracy actual:</span>
                <span>accuracy real:</span>
                <div>
<!--                    Here logic must be implemented to show the modal when I click train button inside modal will be shown
dimmed words when I click correct dimmed letter highlighted in green else in red, I can press backspace to remove last letter
when letter corrected it's highlighte in yellow so this affects accuracy calculation. when pro mode is on if I make a mistake I will
 start this phrase again with 0 time counter. WHen I hit first letter time starts to count WPM and accurary calculated real time -->
                </div>
            </div>

        </div>

    </section>
    <section id="grammar">
        <h3>Grammar</h3>
    </section>
    <section id="listening">
        <h3>Listening</h3>
    </section>
    <section id="writing">
        <h3>Writing</h3>
    </section>
    <section id="mistakes">
        <h3>Mistakes</h3>
    </section>
</div>
</body>
</html>